* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-list {
  font-size: 0;
  margin-left: 40px;
  margin-top: 20px;
}
.list-item {
  display: inline-block;
  position: relative;
  border: 1px solid #3c805b;
  background-color: #47986d;
  color: black;
  font-size: 16px;
}
.link {
  width: 100%;
  padding: 10px 30px;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
}
.sub-nav-list {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
}
.sub-nav-item {
  display: block;
}
.list-item:hover {
  background-color: #3c805b;
}
.list-item:hover > .sub-nav-list {
  display: block;
}
.extended-sub-nav-list {
  top: 0%;
  left: 100%;
  width: 100%;
}